html, body {
  width: 100%;
  margin: 0rem;
  background-color: #e6e6e6;
  font-family: "Archivo Narrow", sans-serif;
}

nav {
  overflow: hidden;
  background-color: whitesmoke;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  z-index: 2;
}

nav ul {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 1rem;
}

nav ul li {
  display: inline;
  font-size: 1rem;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 1rem;
}

nav ul img {
  width: 3%;
  height: 3%;
}

div.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 80%;
  margin: 8% 10% 0% 10%;
  height: 10rem;
}

div.banner img {
  width: 80%;
  height: 80%;
}

h3.slowgun,
h1.h1-homepage {
  text-align: center;
}

h1.h1-reviewpage {
  margin-top: 3rem;
  text-align: center;
  top: 8rem;
}

div.review {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  width: 80%;
  margin: 5% 10% 0% 10%;
  height: 16rem;
}

div.review div.review-img {
  padding-left: 1.5rem;
  display: flex;
  left: 2rem;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

div.review div.review-text {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

div.review div.review-text h1 {
  padding: 0rem;
  margin-bottom: 0.5rem;
}

div.review div.review-text p {
  font-size: 0.7rem;
  margin: 0.5rem;
}

div.review div {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

div.review div button {
  width: 15rem;
  margin-bottom: 1rem;
  padding: 0.7rem;
  border: none;
  background-color: #e6e6e6;
}

div.review div button a {
  text-decoration: none;
  color: black;
}

div.single-review {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.single-review div.single-review-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

div.single-review div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

div.single-review div div.single-review-text {
  width: 100%;
}

div.single-review div div.single-review-text h1 {
  text-align: center;
}

div.single-review div div.single-review-text div {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

div.single-review div div.single-review-text p.content {
  text-align: center;
}

footer {
  margin: 3rem 0rem 0rem 0rem;
  bottom: 0rem;
  overflow: hidden;
  display: flex;
  bottom: 0rem;
  left: 0rem;
  width: auto;
  padding: 1rem;
  font-family: "Archivo Narrow", sans-serif;
  background-color: white;
  color: black;
  justify-content: center;
}
